<!DOCTYPE html>
<html lang="en">
<include file="common_header" title="商品分类"/>
<include file="Public_header" />
<include file="Public_page_css" />

<body class="gray-bg wrapper wrapper-content">


<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-tasks"></i> 商品分类</h5>
            </div>
            <div class="ibox-content">

                <div class="row">

                    <div class="col-sm-2" style="width: 100px">
                        <div class="input-group">
                            <a href="{:U('chuhzg19tvgabxm/add_classify')}" class="btn btn-primary">添加分类</a>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <table class="table table-bordered">
                    <thead>
                    <tr class="long-tr">
                        <th width="5%">编号</th>
                        <th>分类名称</th>
                        <th>缩略图</th>
                        <th>商品数</th>
                        <th>添加时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="classify" id="vo" key="val">
                        <tr class="long-td">
                            <td>{$vo.id}</td>
                            <td>{$vo.classify_title}</td>
                            <td><img src="/Public/uploads/item/{$vo.photo}" style="height:30px" onerror="this.src='__PUBLIC__/Admin/img/no_img.jpg'"/></td>
                            <td>{$vo.classify_goods_num}</td>
                            <td>{$vo.add_time|date='Y年m月d日 H:i:s',###}</td>
                            <td>
                                <if condition="$vo.state eq 1">
                                    <a href="javascript:;"><span class="label label-primary" id="sta{$vo.level_id}" onclick="state({$vo.id});" >显示</span></a>
                                    <else/>
                                    <a href="javascript:;"><span class="label label-danger" id="sta{$vo.level_id}" onclick="state({$vo.id});" >不显示</span></a>
                                </if>
                            </td>
                            <td>
                                <a href="{:U('chuhzg19tvgabxm/add_classify',array('id'=>$vo['id']))}" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
                                <a href="javascript:;" onclick="return del({$vo.id},{:I('p',1)});" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i> 删除</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <div class="pages" style=" text-align: right;">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function del(s_id,p){
        layer.confirm('删除后将不可恢复，你确定要删除吗？', {icon: 3}, function(index){
            layer.close(index);
            window.location.href="__URL__/del_classify/id/"+s_id+"/p/"+p+"";
        });
    }

    function state(val){
        $.post('{:U("classify_state")}',
            {id:val},
            function(data){
                var $v=val;
                if(data.status){
                    if(data.info=='状态禁止'){
                        var a='不显示'
                        $('#sta'+val).html(a);
                        $('#sta'+val).removeClass("label-primary").addClass("label-danger");
                        layer.msg(data.info,{icon:4});
                        return false;
                    }else{
                        var b='显示'
                        $('#sta'+val).html(b);
                        $('#sta'+val).removeClass("label-danger").addClass("label-primary");
                        layer.msg(data.info,{icon:1});
                        return false;
                    }

                }
            });
        return false;
    }
</script>
<include file="common_footer" menu="menu_goods" nav="1"/>
</body>

</html>
