<include file="common_header" title="财务管理"/>
        <p class="curr">
            <a>财务管理</a>&gt;&gt;
            <span>流水记录</span>
        </p>
        <div class="content">
            <div class="list_main">
                <div class="title">
                    <form action="{:U('finance_stream')}" method="get">
                        <p>
                           <label>操作账户</label><input type="text" name="phone" value="{$_GET['phone']}" class="txt" placeholder="会员手机号码">
                           <label>日期</label><input type="text" name="start" value="{$_GET['start']}" class="timer">至<input type="text" name="end" value="{$_GET['end']}" class="timer txt">
                        </p>
                        <p>
                           <label>账单类型</label><!-- 
                            --><select name="type">
                               <option value="0" <if condition="$_GET['type'] eq 0"> selected="selected"</if>>全部</option>
                               <option value="1" <if condition="$_GET['type'] eq 1"> selected="selected"</if>>收入</option>
                               <option value="2" <if condition="$_GET['type'] eq 2"> selected="selected"</if>>支出</option>
                           </select>
                           <label>金额</label><input type="text" name="min" value="{$_GET['min']}">至<input type="text" name="max" value="{$_GET['max']}">
                           <input type="submit" class="sub1" value="查询">
                        </p>
                        <p>
                            收入：<span>{:sprintf("%.2f",getDataSum('finance',$where.' AND type = 1','money'))}元</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;支出：<span>{:sprintf("%.2f",getDataSum('finance',$where.' AND type = 2','money'))}元</span>
                        </p>
                    </form>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <th>订单号</th>
                            <th>交易对象</th>
                            <th>交易金额(元)</th>
                            <th>交易前余额(元)</th>
                            <th>详情</th>
                            <th>创建时间</th>
                        </tr>
                        <volist name=":getData('finance','all',$where,$limit,'id desc')" id="f">

                            <tr>
                                <td>{$f.id}</td>
                                <td>{:getUserPhone($f['uid'])}</td>
                                <td>
                                    <if condition="$f['type'] eq 1">
                                        <span style="color:#008000;">+{$f.money}</span>
                                        <else/>
                                        <span style="color:red;">-{$f.money}</span>
                                    </if>
                                </td>
                                <td>{$f.before}</td>
                                <td>{$f.reason}</td>
                                <td>{$f.time}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
                <ul class="page">
                    {$page}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $().ready(function(){
        $('.timer').datetimepicker({
            lang:'ch',
            timepicker:false,
            format:'Y-m-d'
        });
    });
</script>
<include file="common_footer" menu="menu_finance" nav="2"/>