<include file="common_header" title="系统管理"/>
        <p class="curr">
            <a>系统管理</a>&gt;&gt;
            <span>安全设置</span>
        </p>
        <div class="content">
            <form action="" method="post">
                <div class="line">
                    <label>pc安全代码：</label>
                    <textarea readonly="readonly">为网站安全考虑，全站屏蔽script插入，请自行添加到：\Template\Index\footer.html</textarea>
                </div>
                <div class="line">
                    <label>手机安全代码：</label>
                    <textarea readonly="readonly">为网站安全考虑，全站屏蔽script插入，请自行添加到：\Template\Mobile\footer.html</textarea>
                </div>
                <div class="button">
                    <input type="submit" value="立即提交" class="submit" />
                    <input type="reset" value="重置" class="reset"/>
                </div>
            </form>
        </div>
    </div>
</div>
<include file="common_footer" menu="menu_system" nav="6"/>