<include file="common_header" title="会员管理"/>
<p class="curr">
            <a>会员管理</a>&gt;&gt;
            <a href="{:U('user_list')}">会员列表</a>&gt;&gt;
            <span>添加会员</span>
        </p>
        <div class="content">
            <form action="{:U('user_add')}" method="post" id="ifr">
                <div class="line">
                    <label>推荐人：</label>
                    <input type="text" name="top" class="short" placeholder="推荐人手机号，可为空"/>
                </div>
                <div class="line">
                    <label>手机号码：</label>
                    <input type="text" name="phone" id="phone" placeholder="必填" class="short"/>
                </div>
                <div class="line">
                    <label>登录密码：</label>
                    <input type="password" name="pwd" id="pwd" value="" class="short" placeholder="默认为：123456"/>
                </div>
                <div class="line">
                    <label>交易密码：</label>
                    <input type="password" name="pwd2" id="pwd2" value="" class="short" placeholder="默认为：123456"/>
                </div>
                <div class="button">
                    <input type="submit" value="立即添加" class="submit" />
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#ifr").submit(function(){
        var phone = $("#phone").val();
        var pwd = $("#pwd").val();
        var pwd2 = $("#pwd2").val();
        if(phone.length != 11){
            alert("请输入11位手机号码！");
            return false;
        }
        var myreg=/^[1][3,4,5,6,7,8,9][0-9]{9}$/;
        if (!myreg.test(phone)) {
            alert("手机格式不正确！");
            return false;
        }
        if(pwd.length != 0 && (pwd.length < 6 || pwd.length > 16)){
            alert("请输入6-16个字符的登录密码！");
            return false;
        }
        if(pwd2.length != 0 && (pwd2.length < 6 || pwd2.length > 16)){
            alert("请输入6-16个字符的交易密码！");
            return false;
        }
    })
</script>
<include file="common_footer" menu="menu_user" nav="0"/>