<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>APP下载 -8ye.net 八爷资源网</title>
</head>
<style>
p{
line-height:40px;
height:40px;
margin-top:20px;
background:#7d5516;
width:65%;
text-align:center;
border-radius:5px;
}
img{
width:25px;
height:25px;
margin-right:5px;
}
a{
text-decoration:none;
color:#fff;
}
</style>
<body>
<div style="100px;width:90%;margin:0 auto;margin-top:">
   
    <p> <a href="https://fenfa.liazhua.xyz/app.php/Nw==" target="_balck">安卓APP下载</a></p>
  
   <p><a href="https://fenfa.liazhua.xyz/app.php/OA==" target="_balck">苹果APP下载</a></p>
   
   
</div>
</body>
</html>