<!-- <script type="text/javascript" src="__PUBLIC__/xin_mobile/static/js/rem.js"></script>

<link type="text/css" rel="stylesheet" href="__PUBLIC__/xin_mobile/static/css/foot.css" />

<footer class=footer>
<a href="/Mobile/index/index.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_hot_normal.png"></a>
<a href="/Mobile/lists.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_product_checked.png"></a>
<a href="https://api.pop800.com/chat/574513"><img src="__PUBLIC__/xin_mobile/static/picture/icon_sanbiao_home.png"></a>
<a href="/about/index.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_find_normal.png"></a>
<a href="/user/person.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_my_normal.png"></a></footer> -->

 <link type="text/css" rel="stylesheet" href="__PUBLIC__/m/css/foot.css"> 
   <div class="hh"></div> 
    </div>
   <footer class="footer" style="height: 52px;"> 
    <a href="#" style="margin-top: 0px;"><img src="__PUBLIC__/m/img/15.png" style="margin-left:25%"></a> 
    <a href="/Mobile/lists.html" style="margin-top: 0px;"><img src="__PUBLIC__/m/img/16.png" style="margin-left:25%"></a> 
   <!-- <a href="/Mobile/yuebao.html"><img src="/Public/xin_mobile/images/17.png" /></a> -->
    <a href="/user/person.html" style="margin-top: 0px;"><img src="__PUBLIC__/m/img/19.png" style="margin-left:25%"></a> 
    <a href="{:getInfo('service')}" style="margin-top: 0px;"><img 

src="__PUBLIC__/m/img/18.png" style="margin-left:25%"></a> 
   </footer> 