<include file="Mobile:header" nav="邀请好友"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">邀请好友</div>
    </div>
    <!-- 推荐有奖 -->
    <div class="company">
	    <div class="firends_to">
	    	<a style="width: 100%;" id="inteCode"><img src="__PUBLIC__/mobile/img/code.png" /><span style="width:4rem;">邀请二维码 推荐人ID:({$uid})</span></a>

			
	    </div>
	    <h2 class="planner_h2"><span>我推荐的会员</span></h2>
	    <div class="planner_rule">       
	    <table>
    		<tr>
    		  
                        </p>
    			
					<th>用户名</th>
    			<th> 投资金额</th>
    		
    		
				<th>成员级别</th>
    		</tr>
            <volist name="results" id="i">
		
					 <tr>
					   <td>{$i.phone}</td>
                    <td>{$i.all}</td>
                 
                   
					 <td> {$i.level}</td>
                </tr>
				
		
               
            </volist> 
			
    	</table>
	    </div>
    </div>
    <div class="cover_bg" style="display: block;">
        <div class="share">
			
            <!--<img src="__PUBLIC__/mobile/img/2_code.png">-->
            <div id="qrcode" style="width:3.06rem;margin: auto;padding: .1rem;background-color: #fff;"></div>
            <script type="text/javascript" src="__PUBLIC__/mobile/js/qrcode.js"></script>
            <script type="text/javascript">
                //new QRCode(document.getElementById("qrcode"), "{$code_url}");  // 设置要生成二维码的链接
                var qrcode = new QRCode('qrcode', {
                    text: "http://{$_SERVER['SERVER_NAME']}/mobile/reg/invite/{$uid}",
                    width: '100',
                    height: '100',
                    colorDark : '#000000',
                    colorLight : '#ffffff',
                    correctLevel : QRCode.CorrectLevel.H
                });
            </script>
        </div>
    </div>
</div>
<script>
    $().ready(function(){
    	$("#inteCode").click(function(){
    		$(".cover_bg").show();
    	});
    	$(".cover_bg").click(function(){
            $(".cover_bg").hide();
        });
    });
</script>
</body>
</html>